[Unit]
Description=cloud monitor service
ConditionPathExists=/opt/sententix/bin/cmon
After=network.target
StartLimitInterval=180s
StartLimitBurst=3
 

[Service]
Type=simple
User=jharvey
Group=jharvey
LimitNOFILE=1024
UMask=0002
Restart=on-failure
RestartSec=4
ExecStart=/opt/sententix/bin/cmon

####
# customer settings 
#
# working sub-directory (under /var/opt/sententix)
#   .                       - test
#   ...                     - ...
WorkingDirectory=/var/opt/sententix
#
# systemd unit/listening port (44x4 excluding x=4)
#   cmon-test       4404    - test
#   cmon-...        4414    - ...
#                   4444    - (exclude)
#   cmon-...        4454    - ...
Environment="CMON_SETTINGS=.cmon_settings.json"
#


[Install]
WantedBy=multi-user.target
